<nav class="navbar navbar-full navbar-dark bg-primary">
  <div class="container">
    {{#link-to "application" class="navbar-brand"}}Relationship{{/link-to}}

    <div class="pull-sm-right">
      {{#if session.isAuthenticated}}
        <button class="btn btn-secondary-outline" {{action "logout"}}>Logout</button>
      {{else}}
        <button class="btn btn-secondary-outline" {{action "login"}}>Login</button>
      {{/if}}
    </div>
  </div>
</nav>
<div class="container main-wrapper">
  <div class="row">
    <nav class="col-sm-2">
      <ul class="nav nav-stacked nav-pills">
        <li class="nav-item">
          {{#link-to "application" class="nav-link"}}Contacts{{/link-to}}
        </li>
        <li class="nav-item">
          {{#link-to "application" class="nav-link"}}Companies{{/link-to}}
        </li>
        <li class="nav-item">
          {{#link-to "application" class="nav-link"}}Projects{{/link-to}}
        </li>
        <li class="nav-item">
          {{#link-to "application" class="nav-link"}}Offers{{/link-to}}
        </li>
        <li class="nav-item">
          {{#link-to "application" class="nav-link"}}Tasks{{/link-to}}
        </li>
      </ul>
    </nav>
    <section id="main" class="col-sm-7">
      {{outlet}}
    </section>
    <asdie class="col-sm-3">
      Task list
    </asdie>
  </div>
</div>
